@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Noto+Sans+Mono:wght@300&display=swap');

body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: 'Noto Sans Mono', monospace;
	grid-gap: 1rem;
}

header {
	font-family: 'JetBrains Mono', monospace;
}

p {
	font-size: smaller;
}

article {
	margin-bottom: 4rem;
}

#config {
	grid-column: 1;
}

#alias {
	grid-column: 2;
}